@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root{
    --cor-primaria:#271933;
    --cor-secundaria: #878870;
    --cor-terciaria: #F6F6F6;

    --fonte-titulo:"Krona One", sans-serif;
    --fonte-texto:"Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: #F6F6F6;
}

.cabecalho {
    height: 1%;
    background-color: var(--cor-secundaria);
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.cabecalho-conteudo-links {
    display: flex;
    align-items:left; 
    gap: 5%;
}

.cabecalho-conteudo-links-link {
    border: 2px solid var(--cor-secundaria);
    border-color: var(--cor-primaria);
    padding: 10px;
    border-radius: 5px;
    color: var(--cor-terciaria);
    font-size: 1rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
    text-decoration: none;
}

.cabecalho-conteudo-links-link:hover {
    background-color: var(--cor-primaria);
    cursor: pointer;
}

main {
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 1% 5%;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

.apresentacao-texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.apresentacao-texto-titulo {
    font-size: 2rem;
    text-align: center;
    border: 5px solid var(--cor-terciaria);
    padding: 5px;
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

strong {
    color: var(--cor-terciaria);
}

.apresentacao-texto-conteudo {
    font-size: 1.25rem;
    font-family: var(--fonte-texto);
    text-align: justify;
    text-indent: 10px;
    line-height: 1.5;
}



.apresentacao-texto-nome {
    text-align: right;
    font-size: 1.25rem;
    font-family: var(--fonte-texto);
    font-weight: 400;
}

.apresentacao-imagem{
    width: 30%;
}

.apresentacao-texto-links-subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    font-weight: 400;
}

.apresentacao-texto-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly
}

.apresentacao-texto-links-redes {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    width: 300px;
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
    ;
}

.rodape {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: var(--fonte-texto);
    font-weight: 400;
    color: var(--cor-secundaria);
    background-color:black;
}

.rodape-contato{
    display: flex;
    justify-content: space-around;
    padding:0 0 0 50px ;
}

.apresentacao-texto-links-redes:hover {
    border: 2px solid skyblue;
    padding: 15px;
    cursor: pointer; 
}

.aboutme-secoes{
    font-size: 1.5rem;
    font-family:var(--fonte-texto);
    font-weight: 600;
}

@media(max-width:800px){
    .apresentacao{
        flex-direction: column-reverse;
        gap:50px;
        align-items: center;
    }
    .apresentacao-texto{
        width: auto;
    }

    .apresentacao-imagem{
        width: 60%;
    }
    
    .cabecalho-conteudo-links{
        justify-content:space-around;
    }

    .rodape-contato{
        flex-direction: column;
    }
}